MetricsAgent/bin/*
MetricsAgent/obj/*
MetricsAgent/obj/Debug/net9.0/*
MetricsAgent/obj/Debug/net9.0/MetricsAgent.AssemblyInfo.cs
MetricsAgent/obj/Debug/net9.0/MetricsAgent.AssemblyInfoInputs.cache
MetricsAgent/obj/MetricsAgent.csproj.nuget.dgspec.json
MetricsAgent/obj/MetricsAgent.csproj.nuget.dgspec.json
MetricsAgent/obj/project.nuget.cache
MetricsAgent/obj/MetricsAgent.csproj.nuget.dgspec.json
MetricsAgent/obj/project.assets.json
MetricsAgent/obj/project.nuget.cache
MetricsAgent/obj/Debug/net9.0/MetricsAgent.AssemblyInfo.cs
MetricsAgent/obj/Debug/net9.0/MetricsAgent.AssemblyInfoInputs.cache
MetricsAgent/obj/Debug/net9.0/MetricsAgent.assets.cache
Metrics/bin/Debug/net9.0/Metrics.deps.json
Metrics/bin/Debug/net9.0/Metrics.dll
Metrics/bin/Debug/net9.0/Metrics.pdb
Metrics/obj/Metrics.csproj.nuget.dgspec.json
Metrics/obj/Metrics.csproj.nuget.g.props
Metrics/obj/Metrics.csproj.nuget.g.targets
Metrics/obj/project.assets.json
Metrics/obj/project.nuget.cache
Metrics/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Metrics/obj/Debug/net9.0/Metrics.AssemblyInfo.cs
Metrics/obj/Debug/net9.0/Metrics.AssemblyInfoInputs.cache
Metrics/obj/Debug/net9.0/Metrics.assets.cache
Metrics/obj/Debug/net9.0/Metrics.csproj.AssemblyReference.cache
Metrics/obj/Debug/net9.0/Metrics.csproj.CoreCompileInputs.cache
Metrics/obj/Debug/net9.0/Metrics.csproj.FileListAbsolute.txt
Metrics/obj/Debug/net9.0/Metrics.dll
Metrics/obj/Debug/net9.0/Metrics.GeneratedMSBuildEditorConfig.editorconfig
Metrics/obj/Debug/net9.0/Metrics.GlobalUsings.g.cs
Metrics/obj/Debug/net9.0/Metrics.pdb
Metrics/obj/Debug/net9.0/Metrics.sourcelink.json
Metrics/obj/Debug/net9.0/ref/Metrics.dll
Metrics/obj/Debug/net9.0/refint/Metrics.dll
